html, body {
    padding: 0;
    margin: 0;
}
#con {
    position: fixed;
    /*top: 0;*/
    left: 0;
    right: 0;
    bottom: 0;
    height: 30vh;
    padding: 0;
    margin: 0;
    background-color: rgba(100, 50, 0, 0.3);
}
#left {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: rgba(0, 255, 0, 0.1);
}
#right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: rgba(0, 0, 255, 0.1);
}

.container {
    width: 640px;
    margin: 3px auto;
    text-align: center;
    position: relative;
}

.containerCtrl {
    width: 640px;
    height: 480px;
    margin: 3px auto;
    text-align: center;
    position: relative;
    background: rgba(0, 0, 255, 0.1);
}

.gauge {
  width: 150px;
  height: 150px;
  display: inline-block;
}

.btnController{
    position: absolute;
    /*background-color: red;*/
    width: 200px;
    height: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}

.btnControlUp{
    width: 15vw;
    height: 15vw;
    max-height: 10vh;
    max-width: 10vh;
    position: absolute;
    top: -7vh;
}

.btnControlDown{
    width: 15vw;
    height: 15vw;
    max-height: 10vh;
    max-width: 10vh;
    position: absolute;
    top: 7vh;
}

.btnControlRight{
    width: 15vw;
    height: 15vw;
    max-height: 10vh;
    max-width: 10vh;
    position: absolute;
    top: 7vh;
    left: 15vh;
}

.btnControlLeft{
    width: 15vw;
    height: 15vw;
    max-height: 10vh;
    max-width: 10vh;
    position: absolute;
    top: 7vh;
    left: -15vh;
}

.meters{
    /*background-color: rgba(255, 0, 100, 0.2);*/
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.stream{
    max-width: 80vw;
    /*width: calc(640px * 0.8);
    height: calc(480px * 0.8);*/
    width: 100%;
    height: 100%;   
}

.inputInt{
    width: 45px;
}
