html, body {
    padding: 0;
    margin: 0;
}
#con {
    position: fixed;
    /*top: 0;*/
    left: 0;
    right: 0;
    bottom: 0;
    height: 30vh;
    padding: 0;
    margin: 0;
    background-color: rgba(100, 50, 0, 0.3);
}
#left {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: rgba(0, 255, 0, 0.1);
}
#right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: rgba(0, 0, 255, 0.1);
}

.container {
    width: 600px;
    margin: 3px auto;
    text-align: center;
  }
.gauge {
  width: 150px;
  height: 150px;
  display: inline-block;
}