html, body {
    padding: 0;
    margin: 0;
}
#con {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30vh;
    padding: 0;
    margin: 0;
    background-color: rgba(100, 50, 0, 0.3);
}
#left {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: rgba(0, 255, 0, 0.1);
}
#right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: rgba(0, 0, 255, 0.1);
}

.container {
    width: 640px;
    height: 50px;
    margin: 3px auto;
    text-align: center;
    position: relative;
}

.containerCtrl {
    width: calc(100vw - 20px);
    height: calc(100vh - 120px);
    margin: 3px auto;
    text-align: center;
    position: relative;
    background: rgba(0, 0, 255, 0.1);
}

.gauge {
  width: 150px;
  height: 150px;
  display: inline-block;
}

.btnController{
    position: absolute;
    width: 200px;
    height: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}

.btnControlUp{
    width: 15vw;
    height: 15vw;
    max-height: 10vh;
    max-width: 10vh;
    position: absolute;
    top: -7vh;
}

.btnControlDown{
    width: 15vw;
    height: 15vw;
    max-height: 10vh;
    max-width: 10vh;
    position: absolute;
    top: 7vh;
}

.btnControlRight{
    width: 15vw;
    height: 15vw;
    max-height: 10vh;
    max-width: 10vh;
    position: absolute;
    top: 7vh;
    left: 15vh;
}

.btnControlLeft{
    width: 15vw;
    height: 15vw;
    max-height: 10vh;
    max-width: 10vh;
    position: absolute;
    top: 7vh;
    left: -15vh;
}

.meters{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.hud{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    color: wheat;
    background: rgba(180, 180, 180, 0.1);
}

.stream{
    max-width: 80vw;
    width: 100%;
    height: 100%;   
}

.inputInt{
    width: 45px;
}

.inputInt-1{
    width: 55px;
}

.inputInt-2{
    width: 65px;
}

.inputInt-3{
    width: 75px;
}

.inputInt-4{
    width: 85px;
}
